.container {
  width: 60%;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: lightblue;
}
.listBtn {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
}
h1 {
  font-size: 28px;
  font-weight: bold;
}
.list {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  background-color: white;
}